{% set url = entry.url %}
{% if url == "/fortifyondemand"%}
	<div class="Footer">
		<div class="footer-bar">
				<div class="img-wapper">
						<img src="{{getAssetUrl(entry.footer.footer_logo)}}">
				</div>
				<div class="privacy-text">
					<a class="pp" href="#">Privacy Policy</a> <a class="tc" href="#"> | &nbsp;&nbsp;Terms and Conditions</a>
				</div>
				<div class="tradmark">
					© 2013 pronq.com
				</div>
		</div>
	</div>
{% endif %}
{% if url == "/agilemanager"%}
	<footer>
		<div class="footer_container">
			<div class="row">
			{% for data in entry.footer.columns %}
				<div class="col-md-4 ">
					<h6 class="heading7"> {{ data.title }} </h6>
					<ul class="footer-ul">
						<li> {{data.footer_link1}} </li>
						<li> {{data.footer_link2}} </li>
						<li> {{data.footer_link3}} </li>
						<li> {{data.footer_link4}} </li>
						<li> {{data.footer_link5}} </li>
						<li> {{data.footer_link6}} </li>
						<img class="common facebook_icon" src="{{getAssetUrl(data.facebook_icon)}}">
						<img class="common twitter_icon" src="{{getAssetUrl(data.twitter_icon)}}">
						<img class="common linkedin" src="{{getAssetUrl(data.linkedin_icon)}}">
						<img class="common youtube" src="{{getAssetUrl(data.youtub_icon)}}">
					</ul>
				</div>
			{% endfor %}
			</div>

			<div class="footer-bar">
				<div class="img-wapper">
						<img src="{{getAssetUrl(entry.footer.company_icon)}}">
				</div>
				<div class="privacy-text">
					<a class="pp" href="#">Privacy Policy</a> <a class="tc" href="#"> | &nbsp;&nbsp;Terms and Conditions</a>
				</div>
				<div class="tradmark">
					© 2013 pronq.com
				</div>
			</div>

		</div>
	</footer>
{% endif %}
{% if url == "/pronq" %}
<footer>
	<div class="social_site">
	{% for data in entry.footer.social_site.site_icon %}
		<img class="_social" src="{{getAssetUrl(data)}}">
	{% endfor %}
	</div>
	<div class="test1">
		<a href="#"> Privacy Policy   </a> |
		<a href="#"> Terms and Conditions </a>
	</div>
	<div class="copyrights_pronq">
		<img class="cpi" src="{{getAssetUrl(entry.footer.company_icon)}}">
		<p class="HP">© 2014 Pronq by HP</p>
	</div>
</footer>
{% endif %}