{% extends "layouts/default.html" %}

{% block content %}
		<section class="banner-section">
			<div class="main-container">
					<h1 class="banner-title"> {{ entry.banner.banner_title }} </h1>
					<p class="banner-sub-title"> {{ entry.banner.sub_title }} </p>
					<p class="banner-desc"> {{entry.banner.descption }} </p>
			</div>
			<div class="banner-bg">
					<div class="btn-get_start">
						<a href="#"> {{ entry.banner.btn_start_now }} </a>
					</div>	
			</div>
		</section>
		<section class="flex-zone clearfix">
			<div class="main-container clearfix">
				<div class="container-left">
					<p class="flex-zone-title"> {{ entry.flex_zone.title }} </p>
					{% for data in entry.flex_zone.flex_feature %}
					<div class="flex-feature">
						<div class="triangle-left"></div>
						<span class="flex-feature-data">{{ data }} </span>
					</div>
					{% endfor %}
				</div>
				<div class="container-right">
					<img class="crane" src="{{ getAssetUrl(entry.flex_zone.crane_img )}}">
				</div>
			</div>
		</section>
		<section class="video-section">
			<div class="video-container">
				<p class="tim-qoute"> {{ entry.video_section.multi_line }} </p>
		
				<div class="facbook-cio">
					<img src="{{ getAssetUrl( entry.video_section.facebook_logo) }}" alt="no_preview">
					<span> {{ entry.video_section.author }} </span>
				</div>
				<div class="video_anchor">
					<span> {{ entry.video_section.video_link }} </span>
					<a id="play" href="javascript:void(0)" class="play_video"></a>
				</div>
			</div>
			<div class="video-wrapper">
				<video class="video_player" height="449" width="801" controls play>
					<source src="" type="">
				</video>
			</div>
		</section>
		<section class="partner-feedback">
			<div class="section-title-desc container">
				<span> {{ entry.partner_feedback.title }} </span>
				<span> {{ entry.partner_feedback.sub_title }} </span>
				<p> {{ entry.partner_feedback.desc }} </p>
			</div>
			<div class="partner-logos container">
				{% for data in entry.partner_feedback.partner_icon %}
				<img class="col-md-4" src="{{getAssetUrl(data)}}">
				{% endfor %}
			</div>
			<div class="media">
			  <div class="tringle"></div>
			  	<div class="media-left">
			    <a href="#">
			      <img class="media-object" src="{{getAssetUrl(entry.partner_feedback.quote_logo)}}" alt="...">
			    </a>
			  	</div>
		   		{{ entry.partner_feedback.feedback }} 
			</div>
			<div class="get_start_now">
				<a  href="javascript(void(0))"> {{ entry.partner_feedback.link_start }} </a>
			</div>
		</section>
		<section class="data-driven">
			<div class="section_title_desc container">
				<span class="title"> {{ entry.data_driven.title }} </span>
				<span class="sub_title"> {{ entry.data_driven.sub_title }} </span>
				<span class="desc"> {{ entry.data_driven.desc }} </span>
			</div>	
			<div class="features">
				{% for data in entry.data_driven.features %}
				<div class="features_img .features_img_{{loop.index}}">
					<img class="imgClass" src="{{getAssetUrl(data.feature_img)}}">
					<div class="overlay" style="background-image: url({{ getAssetUrl(data.overlay_img)}}); background-size: 0 0;">
						<div class="delta">
							<span class="_title_"> {{ data.feature_title }} </span>
							<p> {{ data.desc }} </p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="learn_more">
				<a  href="javascript(void(0))"> {{ entry.data_driven.learn_more }} </a>
			</div>
		</section>
		<section class="media_section">
			<div class="wrapper">
				<span> {{entry.media_section.title}} </span>
				<div class="clearfix">
					{% for data in entry.media_section.media_review %}
						{% if loop.index % 2 == 1 %}
							<div class="media_review">
								<div class="review" id="box{{loop.index}}" style="float: left;">
									<p> {{ data.review }} </p>
									<span> {{ data.media_name }}</span>
								</div>
								<div class="media_logo" id="circle{{loop.index}}" style="    margin-left: 10px;">
									<img src="{{getAssetUrl(data.media_logo)}}">
								</div>
							</div>
						{% else %}
							<div class="media_review">
								<div class="media_logo" id="circle{{ loop.index }}" style="margin-right: 10px;">
									<img src="{{getAssetUrl(data.media_logo)}}">
								</div>
								<div class="review" id="box{{loop.index}}" style="float: right;">
									<p> {{ data.review }} </p>
									<span> {{ data.media_name }}</span>
								</div>
							</div>
						{% endif %}

					{% endfor %}
				</div>
			</div>
		</section>
		<section class="use_step_section">
			<div class="container">
				<span class="section_title"> {{ entry.steps_section.title }} </span>
				<div class="steps_wrapper">
					{% for data in entry.steps_section.steps %}
						<div class="steps">
							<div class="steps_icon">
								<img src="{{ getAssetUrl(data.step_icon) }}">
							</div>
							<span> {{ data.step_desc }} </span>
						</div>
					{% endfor %}
				</div>
				<div class="sub_title">
					<span> {{ entry.steps_section.sub_title }} </span>
				</div>
				<div class="link_get_start_now">
					<a href="javascript(void(0))"> {{ entry.steps_section.link_get_start_now }} </a>
				</div>
			</div>
		</section>
<script type="text/javascript">
		var overlay;
		var parent;
		var imgClass;
		var src;
	$('.features_img').mouseover(function(){
		console.log("got it ");	
		overlay = $(this).find('.overlay');
		console.log(overlay);
		imgClass = overlay.parent().find('.imgClass');
		console.log(imgClass);
		src = overlay.parent().find('.imgClass').attr('src');
		
		console.log(src);
		overlay.css('padding-left','0px');
		overlay.addClass('animated').addClass('slideInUp').addClass('overlay_1');
		imgClass.css("visibility","hidden");
	}).mouseout(function(){
		imgClass.css('visibility','visible');

		overlay.css('height','55px');
		overlay.removeClass('animated').removeClass('slideInUp').removeClass('overlay_1');
		overlay.css('padding-left','44px');
		
	});
</script> 
{% endblock %}
