/*--------------------------------------------------------body-------------------------------------------------------------*/
ul,li{
	margin: 0px;
	padding: 0px;
}
.cantainer-fluid{
	border-top: solid 2px #ffa12d;
}
.main-container{
	clear: both;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
.nav-wrapper{
	clear: both;
	max-width: 1140px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}
.nav-wrapper .navbar-marketing-header{
	float: left;
	padding-top: 10px;
	padding-bottom: 8px;
}
.nav-wrapper .right_navigation{
	float: right;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
}
.nav-wrapper .right_navigation a{
	text-decoration: none;
	display: inline;
	margin-right: 17px;
	font-family: Myriad Pro;
	font-size: 18px;
	color:#fff;	
}
.nav-wrapper .create_account{
	display: inline;
	overflow: auto;
	font-family: Myriad Pro;
	font-size: 18px;
    margin-right: -26px;
	padding-left: 26px;
	padding-right: 26px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
	background-color: #ffa12d;
	border-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.nav-wrapper .create_account a{
	text-decoration: none;
}
/*---------------------------------------------------BANNER SECTION ----------------------------------------------------------*/
.banner-section{
	padding-top: 38px;
	position: relative;
    background-color: #f7f7f7;
    font-family: Myriad Pro;
    height: auto;
}

.banner-section .main-container .banner-desc{
	color: #42494f;
	font-size: 30px;
}
.banner-section .main-container .banner-sub-title{
	color: #42494f;
	font-size: 44px;
	margin-bottom: 0px;
}
.banner-section .main-container .banner-title{
	color: #42494f;
	font-size: 45px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.banner-section .main-container .banner-sub-title .big-data{
	color: #f69011;
}
.banner-section .btn-get_start{
    position: absolute;
    text-align: center;
    vertical-align: middle;
    bottom: 30px;
    left: 0;
    right: 0;
    height: 65px;
    width: 242px;
    margin-right: auto;
    margin-left: auto;
    line-height: 65px;
    background-color: #ffa12d;
}
.banner-section .btn-get_start a{
    text-decoration: none;
    font-family: Myriad Pro;
    color: #fff;
    font-size: 24px;
}
/*---------------------------------------------------flex-zone------------------------------------------------------*/
.flex-zone{
	position: relative;
}
.flex-zone.clearfix {
  	overflow: visible;
}
.container-right{
	float: right;
}
.container-left{
	float: left;
}
.flex-zone .main-container .crane{
    margin-top: -25px;
    padding-right: 35px;
}
.flex-zone .main-container .flex-zone-title{
	display: block;
    margin-top: 50px;
    /* margin-left: 54px; */
    max-width: 518px;
    padding-right: -34px;
    font-family: Myriad Pro;
    font-size: 40px;
    color: #42494f;
    word-break: break-all;
    text-align: left;

}
.flex-zone .main-container .flex-feature{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 35px;
    font-family: Myriad Pro;
    font-size: 20px;
    color: #42494f;
    /*max-width: 414px;*/
}
.triangle-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #276d83;
    border-bottom: 10px solid transparent;
    /* border-right: 22px solid black; */
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: 23px;
}
.triangle-left:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid #fff;
    border-bottom: 8px solid transparent;
    /* border-right: 18px solid #fff; */
    position: absolute;
    top: -8px;
    left: -9px;
    vertical-align: middle;
    text-align: center;
}
.flex-feature-data{
	display: inline-block;
	width: 85%;
    vertical-align: middle;
    line-height: auto;
}
/*----------------------------------------------------------video section -----------------------------------------------*/
.video-section .tim-qoute{
    color: #fff;
    padding-top: 94px;
    padding-left: 70px;
    padding-right: 70px;
    font-family: Myriad Pro;
    font-size: 24px;
}
.video-container{
    width: 897px;
    margin-left: auto;
    margin-right: auto;
}
.facbook-cio{
    margin-top: 23px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 30px;
}
.video-container .facbook-cio span{
        margin-left: 17px;
    color: #fff;
    font-family: Myriad Pro;
    font-size: 21px;
    text-align: center;
    vertical-align: middle;
}
.video_anchor{
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 21px;
    font-family: Myriad Pro;
}
.video_anchor span {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.video_anchor .play_video{
    text-decoration: none;
    padding: 8px 12px;
    font-size: 4px;
    display: inline-block;
    border-radius: 50px;
    border: solid 3px #fff;
    color: #fff;
}

.video_anchor .play_video:after{
    content: '';
    width: 0;
    height: 0;
    position: relative;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #fff;
    display: inline-block;
}
.video-section .video-wrapper{
    position: relative;
    margin-top: 8px;
    margin-bottom: 12px;
    display: none;
    text-align: center;
    max-width: 895px;
    background-color: #fff;
    padding-top: 54px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.video_player{
     background-color: black !important;
}
/*-----------------------------------partner feedback -----------------------*/
.partner-feedback{
    position: relative;
    padding-bottom: 50px;
}
.partner-feedback .section-title-desc{
    font-family: Myriad Pro;
    color: #ffa12d;
        padding-top: 60px;
}
.partner-feedback .section-title-desc span {
    display: block;
    font-size: 40px;
}
.partner-feedback .section-title-desc p{
    color: #53595e;
    font-family: [OpenSans];
    font-size: 30px;
}
.partner-feedback .partner-logos{
    padding-top: 90px;
        padding-bottom: 30px;
}
.partner-feedback .partner-logos .col-md-4{
    float: none;
    width: 22.111111%;
    padding-right: 50px;
    padding-left: 50px;
}
.partner-feedback .tringle{

        left: 391px;
    /* margin-left: -64px; */
    margin-top: -41px;
    background-color: #fff;
    position: absolute;
    border: solid #12a9b2;
    border-width: 0 1px 1px 0;
    height: 29px;
    width: 28px;
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 4px;
    transform: rotate(227deg);
}
.partner-feedback .get_start_now{
    height: 65px;
    width: 243px;
    margin-left: auto;
    margin-right: auto;
    line-height: 60px;
    overflow: hidden;
    border-radius: 3px;
}
.partner-feedback .get_start_now a{
    display: block;
    text-decoration: none;
    background-color: #ffa12d;
    font-family: Myriad Pro;
    font-size: 24px;
    color: #fff;
    border-radius: 3px;
}
/*--------------------------------------data-driven-------------------------------*/
.data-driven{
    padding-bottom: 58px;
    border-top: solid 3px #a0dde0;
    border-bottom:solid 3px #a0dde0;
    padding-top: 42px;
    text-align: center;
}
.data-driven .section_title_desc{
    text-align: center;
}
.data-driven .section_title_desc span{
    display: block;
    font-family: Myriad Pro;
    font-size: 40px;
    color: #42494f;
}
.data-driven .section_title_desc .desc{
    margin-top: 13px;
    font-family: Myriad Pro;
    font-size: 30px;
    color: #42494f;
}
.data-driven .features{
    width: 1140px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
.data-driven .features_img:nth-child(odd) {
    margin-right: 20px;
    margin-left: 0px;
}
.data-driven .features_img {
    position: relative;
    display: inline-block;
    /* margin-right: 20px; */
    margin-bottom: 10px;
    margin-left: 10px;
    box-shadow: 0 3px 7px #000;
    overflow: hidden;
    background-color: #1ca9b2;
}
.data-driven .features_img .imgClass{
    visibility: visible;
}
.features_img .overlay{
    position: absolute;
    bottom: 0;
    background-color: #1f373c;
    opacity: 0.9;
    width: 100%;
    height: 55px;
    color: #fff;
    font-family: Myriad Pro;
    font-size: 24px;
    text-align: left;
    padding-left: 44px;
    vertical-align: middle;
    line-height: 55px;
    background-size: 0 0;
}
.features_img .overlay p{
    font-family: Myriad Pro;
    font-size: 18px;
    color: #fff;
    line-height: 25px
}
.overlay_1{
    height: 100% !important;   
    background-size: 100% 100% !important; 
}
.delta{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #1f373c;
    height: 100%;
    opacity: 0.8;
}

.data-driven .learn_more{
    overflow: hidden;
    margin-top: 65px;
    height: 65px;
    width: 242px;
    text-align: center;
    vertical-align: middle;
    background-color: #ffa12d;
    margin-left: auto;
    margin-right: auto;
    line-height: 65px;

}
.data-driven .learn_more a{
    text-decoration: none;
    display: block;
    color: #fff;
    font-family: Myriad Pro;
    font-size: 24px;
    border-radius: 3px;
}
/*-------------------------------------------------media_section------------------------------------------*/
.media_section .wrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 65px;
}
.media_section .wrapper .clearfix{
    margin-top: 50px;
}
.media_section .wrapper span{
    font-family: Myriad Pro;
    font-size: 40px;
    color: #42494f;
    text-align: center;
}
.media_section .wrapper .media_review{
    /* overflow: hidden; */
    /* display: block; */
    width: 50%;
    margin-bottom: 40px;
    text-align: center;
    /* vertical-align: middle; */
    /* line-height: initial; */
    max-height: 159px;
    /* height: 159px; */
}

.media_section .wrapper .media_review:nth-child(odd){
    float: left;
}
.media_section .wrapper .media_review:nth-child(even){
    float: right;
}
.media_section .wrapper .media_review .review{
    position: relative;
    display: inline-block;
    visibility: hidden;
    background-color: #fff;
    padding: 20px;
    vertical-align: middle;
    max-height: 159px;
    height: 159px;
    width: 353px;
    font-size: 18px;
    overflow: hidden;
    font-family: Myriad Pro;
    color: #b7b9ba;
    text-align: left;
    border-radius: 3px;
    overflow: visible;
}
.media_section .wrapper .media_review .review span{
    color: #add5d8;
    font-size: 18px;
    font-family: Myriad Pro;
}
.media_section .wrapper .media_review .review:nth-child(odd):after{
    content: '';
    right: -18px;
    position: absolute;
    width: 0;
    height: 0;
    top: 38%;
    border-radius: 0px;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 18px solid #fff;
}
.media_section .wrapper .media_review .review:nth-child(even):before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: -18px;
    top: 38%;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 18px solid #fff;
}
.media_section .wrapper .media_review .media_logo{
    display: inline-block;
    background-color: #fff;
    height: 156px;
    line-height: 156px;
    vertical-align: middle;
    width: 156px;
    border-radius: 156px;
}
/*-------------------------------------------------------use_step_section--------------------------------*/
.use_step_section{
    text-align: center;
    padding-bottom: 50px;

}
.use_step_section .container{
    padding-top: 50px; 
    position: relative;
}
.use_step_section .container span{
    font-family: Myriad Pro;
    font-size: 45px;
    color: #ffa12d;
}
.use_step_section .container .steps_wrapper{
    padding-top: 35px;
    display: block;
    position: relative;
}

.steps{
    display: inline-block;
    position: relative;
}
.steps:nth-child(even){
    margin-left: 76px;
    margin-right: 76px;
}
.use_step_section .container .steps_wrapper .steps .steps_icon{
    position: relative;
    border-radius: 50%;
    border: solid 5px #6d7378;
    height: 200px;
    width: 200px;
    /* vertical-align: middle; */
    line-height: 200px;
    background-color: #fff;
}
.use_step_section .container .steps span{
    margin-top: 10px;
    display: block;
    font-family: Myriad Pro;
    font-size: 18px;
    color: #42494f;
}
.use_step_section .container .sub_title{
    text-align: center;
    padding-top: 56px;
}
.use_step_section .container .sub_title span{
    font-family: Myriad Pro;
    font-size: 30px;
    color: #42494f;
}
.use_step_section .container .link_get_start_now{
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
    height: 65px; 
    width: 242px;
    line-height: 65px;
    background-color: #ffa12d;
    overflow: hidden;
}
.use_step_section .container .link_get_start_now a{
    text-decoration: none;
    color: #fff;
    font-family: [OpenSans];
    font-size: 24px;
    border-radius: 3px; 
}
/*------------------------------------------footer wrapper --------------------------------*/
.footer_wrapper{
    position: relative;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px
}
.bar{
    margin-top: 55px;
    width: 100%;
    border-top: 1px solid #fff;
    height: 2px;
}
/*.footer_wrapper:after{
    content: "";
    position: absolute;
    border-top: 1px solid #fff;
    left: 0;
    /* height: 1px; 
    top: 8px;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 1px;
}*/